body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: linear-gradient(to bottom right,rgb(41, 185, 188), rgb(212, 212, 175));
            color: #040101;
        }

        

        h1 {
            margin: 0;
            font-size: 36px;
            font-family: 'Times New Roman', Times, serif;
        }

        nav {
            text-align: center;
            margin-top: 20px;
            background-color: #d56969;
            margin-top: auto;
            padding-top: 2%;
            padding-bottom: 2%;
        }

        nav a {
            color: #000000;
            text-shadow: #333;
            text-decoration: none;
            margin: 0 10px;
            text-orientation: sideways-right;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
        }
        pre{
            font-family: 'Times New Roman', Times, serif;
            font-size: large;
        }
        img{
            border-radius: 80%;
            height: 22%;
            width: 22%;
            border: 8px solid #765f5f;
        }

        section {
            padding: 20px;
        }

        .container {
            max-width: 800px;
            margin: auto;
        }

        .project {
            background-color: #fff;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .project h2 {
            margin-top: 0;
        }

        footer {
            background-color: #d56969;
            color: #fff;
            text-align: center;
            padding: 20px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        li{
            font-size: 16px;
        }
